<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<title>Hello, world!</title>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- body -->
					<h1>Adicionar novos assuntos ao bot.</h1>
					<!-- NOTA SEM O URL_FOR NAO FUNCIONA -->
					<form action="{{ url_for('home') }}" method="POST">
						<div class="form-group">
							<label for="_form_title">
								<h5>
									Título
								</h5>
							</label>
							<textarea class="form-control" rows="1" id="_form_title"
								placeholder="Escreva aqui o titulo do assunto" name="intent_title"></textarea>
						</div>
						<div class="form-group">
							<label for="_form_text1" title="Frases de treinamento ajudam o bot a reconhecer o assunto que está sendo falado.">
								<h5>
									Frases de treinamento ⓘ
								</h5>
							</label>
							<textarea class="form-control" id="_form_text1" rows="3"
								placeholder="Escreva aqui frases que descrevam o assunto, separe as frases por,"
								name="intent_training_phrases"></textarea>
						</div>
						<div class="form-group">
							<label for="_form_text2">
								<h5>
									Conteúdo
								</h5>
							</label>
							<textarea class="form-control" id="_form_text2" rows="5"
								placeholder="Descreva sobre o assunto" name="intent_message"></textarea>
						</div>
						<button type="submit" class="btn btn-primary btn-lg btn-block">
							Salvar
						</button>
					</form>
					<!-- body -->
				</div>
			</div>
		</div>
	</body>
</html>